<h1>Make your form here</h1>
<form method="POST" action="/pirates">
<h2>Create Pirate</h2>
  <label for="pirate_name"> Name</label>
  <input type = "text" id = "pirate_name" name=pirate[name]></input>
  <label for="pirate_weight">Weight</label>
  <input type = "text" id = "pirate_weight" name=pirate[weight]></input>
  <label for="pirate_height">Height</label>
  <input type = "text" id = "pirate_height" name=pirate[height]>
<h2> Create Ship 1</h2>
  <label for="ship_name_1">Name</label>
  <input type = "text" id = "ship_name_1" name=pirate[ships][][name]>
  <label for="ship_type_1">Type</label>
  <input type = "text" id = "ship_type_1" name=pirate[ships][][type]>
  <label for="ship_booty_1">Booty</label>
  <input type = "text" id = "ship_booty_1" name=pirate[ships][][booty]>
<h2> Create Ship 2</h2>
  <label for="ship_name_2">Name</label>
  <input type = "text" id = "ship_name_2" name=pirate[ships][][name]>
  <label for="ship_type_2">Type</label>
  <input type = "text" id = "ship_type_2" name=pirate[ships][][type]>
  <label for="ship_booty_2">Booty</label>
  <input type = "text" id = "ship_booty_2" name=pirate[ships][][booty]>
  <button type="submit" value="submit">Submit</button>
</form>
