<!-- creating three objects (one instance of the Pirate class, and two instances of the Ship class) -->
<!DOCTYPE html>
<html>
  <head>
    <title>New!</title>
  </head>
  <body>
    <h1>New Pirate</h1>
      <form action="/pirates" method="post">
        Pirate Name: <input type="text" name="pirate[name]">
        Pirate Weight: <input type="number" name="pirate[weight]">
        Pirate Height: <input type="number" name="pirate[height]">
        <br>

        <!-- <h2>Ship(s)</h2>
            <label for="ship_name_1">Name</label><br>
            <input id="ship_name_1" type="text" name="pirate[ships][][name]" /><br>
            <label for="ship_type_1">Type</label><br>
            <input id="ship_type_1" type="text" name="pirate[ships][][type]" /><br>
            <label for="ship_booty_1">Booty</label><br>
            <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" /><br><br> -->

        <h1>New Ship</h1>
        Ship Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]">
        Ship Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]">
        Ship Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]">
        <br>
        <h1>New Ship</h1>
        Ship Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]">
        Ship Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]">
        Ship Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]">
        <input type="submit" id="Submit">
      </form>

  </body>
</html>


<!-- params = {
  "pirate" => {
    "name" => "Vic",
    "weight" => "12",
    "height" => "60",
    "ships" => [
      {
        "name" => "AP US History",
        "type" => "History",
        "booty_attribute" => blah
      },
      {
      "name" => "AP US History",
      "type" => "History",
      "booty_attribute" => blah
      }
    ]
  }
} -->
